.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    gap:20px;
}


.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

.lbtn{
    background-color: rgb(108, 225, 97);
    height: 50px;
    width: 60px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.lbtn:hover{
    background-color:  rgb(237, 78, 78);
}